# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
*.egg
*.manifest
*.spec
.DS_Store

# -----------------------------
# Environment
# -----------------------------
.env
.venv/
env/
venv/
*.conda
*.ipynb_checkpoints

# -----------------------------
# Docker
# -----------------------------
docker-compose.override.yml
*.log


# -----------------------------
# Output / cache
# -----------------------------
output/
outputs/
checkpoints/
logs/
tmp/
cache/
*.cache
*.npz
*.pth
*.pt
*.safetensors
*.npy
data/

# -----------------------------
# System files
# -----------------------------
.DS_Store
Thumbs.db
*.swp
*.swo

# -----------------------------
# IDE / editor
# -----------------------------
.vscode/
.idea/
*.iml

# -----------------------------
# Misc
# -----------------------------
*.zip
*.tar.gz
*.rar
