numpy==1.24
open3d
mediapy
lpips
scikit-image
tqdm
trimesh
plyfile
opencv-python

./submodules/diff-surfel-rasterization
./submodules/simple-knn
./gridencoder

# git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
